<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <title>SMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet"th:href="@{/css/style.css}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>



<div th:class="container" th:id="banner1">
<!--    <div class="jumbotron">-->
<!--        <h1 class="">sdgvg</h1>-->
<!--        <a class="btn btn-primary" type="button" href="http://localhost:8080/menu">More</a>-->
<!--    </div>-->
    <div align="center">
    <h1 th:id="title" > Employee Management System</h1>
        <span th:id="titlefooter">Where you can manage employee related operations</span><br>
    <a class="btn btn-primary" th:id="more"type="button" href="http://localhost:8080/menu">More</a>
    </div>
</div>

<div th:id="subbody">
<div th:class="blockquote-wrapper">
    <div th:class="blockquote">
        <h1>
            Employees can be assigned to multiple projects and Projects can have multiple tasks.
        </h1>
<!--        <h4>&mdash; Unknown<br><em>Employees: A Management System</em></h4>-->
    </div>
</div>
</div>

</body>
</html>
