<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container some" >
    <div class="jumbotron" style="">
        <div class="row" align="center">
            <a class="btn btn-primary" type="button" href="http://localhost:8080/employees">Employees</a>
            <a class="btn btn-primary" type="button" href="http://localhost:8080/projects">Projects</a>
            <a class="btn btn-primary" type="button" href="http://localhost:8080/tasks">Tasks</a>
            <a class="btn btn-primary" type="button" href="http://localhost:8080/operations">Operations</a>

        </div>
    </div>
</div></body>
</html>