<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"th:href="@{/css/style.css}" type="text/css">

</head>
<body>

<div th:class="container" th:id="banner1" align="center">
    <div align="center">
        <h1 th:id="title" > Employee Management Menu</h1>
    </div>
    <div th:id="navbarfoot">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link " id="pills-home-tab" th:href="@{/menu}" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:id="pills-employee-tab"  th:href="@{/em/employee}" role="tab" aria-controls="pills-profile" aria-selected="false">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-project-tab" th:href="@{/pro/projects}" role="tab" aria-controls="pills-contact" aria-selected="false">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="pills-Task-tab" th:href="@{/tsk/tasks}"role="tab" aria-controls="pills-contact" aria-selected="false">Task</a>
            </li>
            <li class="nav-item" th:if="${privilage==true}">
                <a class="nav-link" id="pills-operation-tab" th:href="@{/op/operation}" role="tab" aria-controls="pills-contact" aria-selected="false">Operation</a>
            </li>
            <li class="nav-item" style="margin-left:47%;margin-top:0.7%;" >
                <a  style="color:#fff;font-size:22px;" th:text="${username}"></a>&nbsp;<a  href="/logout">SignOut</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Task" role="tabpanel" aria-labelledby="pills-task-tab">

                <div class="container fbbodycolor">

                    <div class="jumbotron">
                        <a href="http://localhost:8080/tsk/tasks"><img src="/images/back.png" class="back-arrow" alt="back-arrow" th:src="@{/images/back.png}"></a>

                        <h4 align="center">Task Details</h4>
                    </div>

                    <div th:unless="${error==null}">
                        <table class="table" >
                            <thead>
                            <td>Status Code</td>
                            <td>Error</td>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${error.statusCode}"></span></td>
                                <td><span th:text="${error.body}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div th:if="${error==null}">
                        <table class="table testcolor" align="center">
                            <thead>
                            <td>Project ID</td>
                            <td> Project Name</td>

                            </thead>
                            <tbody>
                            <tr th:each="tsk: ${task}">
                                <td><span th:text="${tsk.tid}"></span></td>
                                <td><span th:text="${tsk.tname}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/custom.js}" ></script>
</body>
</html>