<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"th:href="@{/css/style.css}" type="text/css">

</head>
<body>
<!--<div th:class="container" th:id="banner1">-->
<!--        <div class="jumbotron" style="">-->
<!--            <div class="row" align="center">-->
<!--                <a class="btn btn-primary" type="button" href="http://localhost:8080/employees">Employees</a>-->
<!--                <a class="btn btn-primary" type="button" href="http://localhost:8080/projects">Projects</a>-->
<!--                <a class="btn btn-primary" type="button" href="http://localhost:8080/tasks">Tasks</a>-->
<!--                <a class="btn btn-primary" type="button" href="http://localhost:8080/operations">Operations</a>-->
<!--            </div>-->
<!--        </div>-->
<!--</div>-->

<div th:class="container" th:id="banner1" align="center">
    <div align="center">
        <h1 th:id="title" > Employee Management Menu</h1>
    </div>
    <div th:id="navbarfoot">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab" aria-controls="pills-profile" aria-selected="false">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="pills-project-tab" data-toggle="pill" href="#pills-project" role="tab" aria-controls="pills-contact" aria-selected="false">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-Task-tab" data-toggle="pill" href="#pills-Task" role="tab" aria-controls="pills-contact" aria-selected="false">Task</a>
            </li>
            <li class="nav-item" th:if="${privilage==true}">
                <a class="nav-link" id="pills-operation-tab" data-toggle="pill" href="#pills-operation" role="tab" aria-controls="pills-contact" aria-selected="false">Operation</a>
            </li>
        </ul>
        <div class="right-corner">
            <a class="dropdown-item" href="#" th:text="${username}"></a>
            <a class="dropdown-item" href="/logout">SignOut</a>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="home">

                </div>
            </div>
            <div class="tab-pane fade" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">

                <div class="container fbbodycolor">
                    <div class="jumbotron">
                        <a th:if="${privilage==true}" data-toggle="modal" data-target="#createemp" class="btn btn-primary right" style="color:#fff">Create Employee</a>
                        <h4 align="center">Employee Details</h4>
                    </div>

                    <div th:unless="${error==null}">
                        <table class="table" >
                            <thead>
                            <td>Status Code</td>
                            <td>Error</td>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${error.statusCode}"></span></td>
                                <td><span th:text="${error.body}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div th:if="${error==null}">
                        <table class="table testcolor" align="center" >
                            <thead class="thead-dark">
                            <td>ID</td>
                            <td>Name</td>
                            <td>Action</td>

                            </thead>
                            <tbody>
                            <tr th:each="employee: ${employees}">
                                <td><span th:text="${employee.eid}"></span></td>
                                <td><span th:text="${employee.ename}"></span></td>
                                <td><a href="#" th:href="@{/employee/{id}(id=${employee.eid})}" class="btn btn-info" role="button">view</a></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade show active" id="pills-project" role="tabpanel" aria-labelledby="pills-project-tab">

                <div class="container fbbodycolor">

                    <div class="jumbotron">
                        <a href="http://localhost:8080/project-tab"><img src="/images/back.png" class="back-arrow" alt="back-arrow" th:src="@{/images/back.png}"></a>

                        <h4 align="center">Project Details</h4>
                    </div>

                    <div th:unless="${error==null}">
                        <table class="table" >
                            <thead>
                            <td>Status Code</td>
                            <td>Error</td>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${error.statusCode}"></span></td>
                                <td><span th:text="${error.body}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div th:if="${error==null}">
                        <table class="table testcolor" align="center">
                            <thead>
                            <td>Project ID</td>
                            <td> Project Name</td>

                            </thead>
                            <tbody>
                            <tr th:each="pr: ${project}">
                                <td><span th:text="${pr.pid}"></span></td>
                                <td><span th:text="${pr.pname}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="pills-Task" role="tabpanel" aria-labelledby="pills-task-tab">

                <div class="container fbbodycolor">

                    <div class="jumbotron">
                        <a  th:if="${privilage==true}" data-toggle="modal" data-target="#createtask" class="btn btn-primary right" style="color:#fff">Create Task</a>
                        <h4 align="center">Task Details</h4>
                    </div>

                    <div th:unless="${error==null}">
                        <table class="table" >
                            <thead>
                            <td>Status Code</td>
                            <td>Error</td>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${error.statusCode}"></span></td>
                                <td><span th:text="${error.body}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div th:if="${error==null}">
                        <table class="table testcolor" align="center">
                            <thead>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Action</td>

                            </thead>
                            <tbody>
                            <tr th:each="task: ${tasks}">
                                <td><span th:text="${task.tid}"></span></td>
                                <td><span th:text="${task.tname}"></span></td>
                                <td><a href="#" th:href="@{/tasks/{id}(id=${task.tid})}" class="btn btn-info" role="button">view</a></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="pills-operation" role="tabpanel" aria-labelledby="pills-operation-tab">

                <div class="container fbbodycolor">

                    <div class="jumbotron ">
                        <h4 align="center">Assign Operations</h4>
                    </div>

                    <div th:unless="${error==null}">
                        <table class="table" >
                            <thead>
                            <td>Status Code</td>
                            <td>Error</td>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${error.statusCode}"></span></td>
                                <td><span th:text="${error.body}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>

                    <div th:if="${error==null}" class="op-top">
                        <form th:action="@{/operation}" method="post">
                            <table class="table" >
                                <tbody>
                                <tr>
                                    <td>
                                        <label class="left-align">Select Employees</label>
                                        <select class="custom-select" name="eid">
                                            <option th:each="employee: ${employees}" th:value="${employee.eid}" th:text="${employee.ename}"  selected>Choose...</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label class="left-align-project" >Select Projects</label>
                                        <select class="custom-select my-1 mr-sm-2" name="pid">
                                            <option th:each="project: ${projects}" th:value="${project.pid}" th:text="${project.pname}"  selected>Choose...</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading left-align">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" href="#collapse1">Select Tasks</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse left-align">
                                                    <div class="panel-body" th:if="${error==null}">
                                                        <table class="table" >
                                                            <tbody>
                                                            <tr th:each="task: ${tasks}">
                                                                <div class="form-check">
                                                                    <input name="tid" class="form-check-input" type="checkbox" th:value="${task.tid}" id="defaultCheck1" >
                                                                    <label class="form-check-label" for="defaultCheck1" th:text="${task.tname}" >

                                                                    </label>
                                                                </div>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </td>
                                </tr>
                                <tr>
                                    <td>  <button type="submit" class="btn btn-primary">Submit</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </form>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>

<!-- create employee Modal -->
<div class="modal fade" id="createemp" tabindex="-1" role="dialog" aria-labelledby="createempLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createempLabel">Create Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form th:action="@{/employee}" method="post">
                    <div class="form-group">
                        <label for="name">Employee Name</label>
                        <input name="ename"  type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- create project Modal -->
<div class="modal fade" id="createproject" tabindex="-1" role="dialog" aria-labelledby="createprojectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createprojectLabel">Create Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form th:action="@{/project}" method="post">
                    <div class="form-group">
                        <label for="pname">Project Name</label>
                        <input name="pname"  type="text" class="form-control" id="pname" aria-describedby="pname" placeholder="Enter project">
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- create task Modal -->
<div class="modal fade" id="createtask" tabindex="-1" role="dialog" aria-labelledby="createtaskLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createtaskLabel">Create Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form th:action="@{/task}" method="post">
                    <div class="form-group">
                        <label for="tname">Task Name</label>
                        <input name="tname"  type="text" class="form-control" id="tname" aria-describedby="tname" placeholder="Enter task">
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>
    </div>
</div>
<!--<div th:id="subbody" >-->

<!--</div>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/custom.js}" ></script>
</body>
</html>